---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="">Hey, soy DeylerAF <Badge>Disponible para trabajar</Badge></h1>
        <h2>+4 años de experiencia. Desarrollador web Full-Stack. De La Furtuana de San Carlos, Costa Rica. Me encanta aprender cosas nuevas y compartir conocimientos con los demás. Actualmente estoy trabajando en algunos proyectos personales.</h2>
	</main>
</Layout>