---
import Image from "astro/components/Image.astro";
const personalImageAlt = "Deyler Alvarez Fernández";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-lime-600 dark:[&>p>strong]:text-lime-400 [&>p>strong]:font-semibold [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hello! I’m Deyler Alvarez Fernández, a passionate Full-Stack Developer from La Fortuna de San Carlos, Costa Rica.
      With over four years of experience in creating responsive and user-friendly web applications,
      <strong>I specialize in transforming UX designs into interactive web interfaces.</strong>
      I thrive on using JavaScript and modern frameworks to craft seamless digital experiences.
    </p>

    <p>
    <strong>When I’m not coding</strong>, you might find me hiking in the beautiful landscapes of Costa Rica or relaxing in a hot spring.
      I also enjoy cooking or having a barbecue to share with family and friends.
      Balancing work with these hobbies keeps me refreshed and inspired.
    </p>

    <p>
      <strong>I’m always eager to learn and grow</strong>, whether it’s diving
      into the latest tech trends or exploring new investment opportunities in
      cryptocurrencies and the stock market. <strong
        >My goal is to continually enhance my skills</strong
      > and one day lead a team or start a digital solutions company of my own.
    </p>
    <p>
      <strong>Feel free to connect with me</strong> whether it’s to chat about tech,
      share hiking trails, or discuss the latest in the crypto world. <strong
        >Let’s make something amazing together!</strong>
    </p>
  </div>
  <div class="order-1 md:order-2">
    <div
      class="relative object-cover w-40 h-auto p-1 lg:p-2 mt-32 lg:mt-0 rotate-3 aspect-square rounded-2xl bg-lime-500/25 ring-1 ring-lime-600 dark:ring-lime-400 backdrop-blur-sm"
    >
      <Image
        width="200"
        height="200"
        src="/images/me.webp"
        alt={personalImageAlt}
        class="absolute bottom-0"
        style="object-position: 50% 50%"
        loading={"eager"}
      />
    </div>
  </div>
</article>
