---
import Image from "astro/components/Image.astro";
const personalImageAlt = "Deyler Alvarez Fernández";
---

<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-lime-500 [&>p>strong]:font-semibold [&>p>strong]:font-mono [&>p>strong]:text-lg text-pretty order-2 md:order-1"
    >
        <p>
            My name is Deyler Alvarez Fernández, and I am passionate about web
            development originally from Costa Rica. My enthusiasm is divided
            between the frontend and the backend, as I firmly believe that a
            good digital product depends on the harmony between the two. <strong
                >I specialize in optimizing performance because I am convinced
                that a fluid and fast user experience is key to the success of
                any web application</strong
            >. This philosophy drives me to always be up to date with the latest
            trends and technologies in the industry.
        </p>

        <p>
            Currently, <strong
                >I have the privilege of teaching web development</strong
            > to a group of enthusiastic friends. Finding ways to share my knowledge
            and watch others grow and learn is something I find deeply rewarding.
        </p>

        <p>
            Looking towards the future, I aspire to launch a YouTube channel
            dedicated to web development. <strong
                >My vision is to create content that not only educates but also
                inspires and empowers aspiring developers around the world.</strong
            > I want to build a community where we can exchange ideas, solve problems
            together, and contribute to the advancement of the web development industry.
        </p>
    </div>
    <div class="order-1 md:order-2">
        <div
            class="relative object-cover w-40 h-auto p-1 lg:p-2 mt-32 lg:mt-0 rotate-3 aspect-square rounded-2xl bg-lime-500/25 ring-1 ring-lime-600 dark:ring-lime-400 backdrop-blur-sm"
        >
            <Image
                width="200"
                height="200"
                src="/images/me.webp"
                alt={personalImageAlt}
                class="absolute bottom-0"
                style="object-position: 50% 50%"
                loading={"eager"}
            />
        </div>
    </div>
</article>
