<div class="flex items-center">
    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
        <span
            class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite]
            bg-[conic-gradient(from_90deg_at_50%_50%,#65A30D_0%,#A3E635_50%,#65A30D_100%)]
            dark:bg-[conic-gradient(from_90deg_at_50%_50%,#365314_0%,#86CC16_50%,#365314_100%)]"
        ></span>
        <div
            class="inline-flex items-center justify-center w-full px-3 py-1 text-lg font-semibold text-black/80 dark:text-white/80 bg-lime-500/0 rounded-full cursor-pointer backdrop-blur-2xl whitespace-nowrap"
        >
            <slot />
        </div>
    </span>
</div>
