---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        title: "Senior Frontend Developer",
        link: "Flowbite",
        date: "2020-01-01",
        description:
            "Building the next generation of web applications with a focus on user experience, performance, and accessibility.",
    },
    {
        title: "Frontend Developer",
        link: "Acme Corporation",
        date: "2019-12-31",
        description:
            "Worked on the company's main web application, focusing on the frontend architecture and performance optimization.",
    },
    {
        title: "Web Developer",
        link: "XYZ Inc.",
        date: "2017-12-31",
        description:
            "Developed and maintained the company's website, focusing on the user interface and user experience.",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
