---
const personalImageAlt = "Hi";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GitHub from "@/components/icons/GitHub.astro";
import SocialPill from "@/components/SocialPill.astro";
import Image from "astro/components/Image.astro";
---

<div class="max-w-xl">
    <div class="flex items-end gap-4 mb-4">
        <Image
            class="size-20 drop-shadow-[0px_0px_5px_rgba(0,0,0,0.5)] dark:drop-shadow-[0px_0px_5px_rgba(255,255,255,0.2)]"
            src="/images/hi.webp"
            alt={personalImageAlt}
            loading={"eager"}
            width={80}
            height={80}
        />
        <a
            href="https://www.linkedin.com/in/deyleraf/"
            target="_blank"
            rel="noopener"
            class="flex items-center transition md:justify-center md:hover:scale-105"
        >
            <Badge>Open to work</Badge>
        </a>
    </div>
    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white [&>strong]:text-lime-600 dark:[&>strong]:text-lime-400"
    >
        Hi, I'm <strong>Deyler Alvarez Fernández</strong>
    </h1>
    <p
        class="flex flex-col gap-4 mt-6 text-xl text-gray-800 dark:text-gray-300"
    >
        <span
            class="[&>strong]:text-lime-600 dark:[&>strong]:text-lime-400 [&>strong]:font-semibold"
            >+4 years of experience as <strong>Full-Stack Developer.</strong
            ></span
        >
        <span>From La Fortuna de San Carlos, Costa Rica 🇨🇷.</span>
        <span class="opacity-85">
            With a passion for turning innovative ideas into digital realities,
            I specialize in creating elegant, user-friendly web solutions that
            drive results. Let's collaborate and bring your digital vision to
            life.
        </span>
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="https://github.com/DeylerAF">
            <GitHub class="size-4" />
            GitHub
        </SocialPill>
        <SocialPill href="https://www.linkedin.com/in/deyleraf/">
            <LinkedInIcon class="size-4" />
            LinkedIn
        </SocialPill>
    </nav>
</div>
