---
const { href } = Astro.props;
---

<a
    href={href}
    role="link"
    rel="noopener noreferrer"
    target="_blank"
    class="inline-flex items-center text-lg font-medium text-lime-500 dark:text-lime-300 dark:hover:text-lime-300 hover:text-lime-700"
>
    <slot />
</a>
