<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
    class="inline-flex items-center justify-center gap-2 px-4 py-1 text-black/90 dark:text-white/90 transition bg-lime-500 border border-lime-600 dark:border-lime-400 rounded-full focus-visible:ring-lime-500/80 text-lg hover:text-white/90 dark:hover:text-black/90 hover:bg-lime-600 dark:hover:bg-lime-400 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
    <slot />
</a>
